:root {
    --red: #F2574A;
    --orange: #FBBC12;
    --green: #31CE5D;
    --sky-blue: #3994E9;
    --purple: #C53C84;
    --legend-link-color: #007296;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

a:link {
    text-decoration: none;
}

.container {
    display: flex;
    align-items: center;
    height: 100vh;
    padding: 20px;
}

.donut-chart {
    position: relative;
    width: 200px;
    height: 200px;
    margin: auto auto;
    border-radius: 100%;
}

.center {
    background: #ffffff;
    position: absolute;
    text-align: center;
    font-size: 28px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 130px;
    height: 130px;
    margin: auto;
    border-radius: 50%;
    line-height: 35px;
    padding: 15% 0 0;
}

.center p {
    margin: 0;
    font-size: 20px;
    line-height: 1.2;
}

.portion-block {
    border-radius: 50%;
    clip: rect(0px, 300px, 200px, 100px);
    height: 100%;
    position: absolute;
    width: 100%;
}

.circle {
    border-radius: 50%;
    clip: rect(0px, 100px, 200px, 0px);
    height: 100%;
    position: absolute;
    width: 100%;
    font-size: 1.5rem;
}

#part1 {
    transform: rotate(0deg);
}

#part1 .circle {
    background-color: var(--red);
    animation: first 1s 1 forwards;
}

@keyframes first {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(180deg);
    }
}

#part2 {
    transform: rotate(181deg);
}

#part2 .circle {
    background-color: var(--orange);
    animation: second 1s 1 forwards 1s;
}

@keyframes second {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(38.5deg);
    }
}

#part3 {
    transform: rotate(221deg);
}

#part3 .circle {
    background-color: var(--green);
    animation: third 0.5s 1 forwards 2s;
}

@keyframes third {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(48deg);
    }
}

#part4 {
    transform: rotate(270deg);
}

#part4 .circle {
    background-color: var(--sky-blue);
    animation: fourth 0.5s 1 forwards 2s;
}

@keyframes fourth {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(42deg);
    }
}

#part5 {
    transform: rotate(313deg);
}

#part5 .circle {
    background-color: var(--purple);
    animation: five 0.5s 1 forwards 2s;
}

@keyframes five {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(46deg);
    }
}

.legend {
    display: block;
    width: 100%;
}

.legend ul {
    margin: 0 0 0 61px;
    list-style: none;
}

.legend li {
    margin-bottom: 8px;
    position: relative;
    display: inline-flex;
    width: 100%;
    align-items: center;
}

.legend li:last-child {
    margin-bottom: 0;
}

.legend .bullet {
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    margin-right: 7px;
}

.legend a {
    color: var(--legend-link-color);
}

.legend a:hover {
    text-decoration: underline;
}

.bg_red {
    background-color: var(--red);
}

.bg_orange {
    background-color: var(--orange);
}

.bg_green {
    background-color: var(--green);
}

.bg_sky-blue {
    background-color: var(--sky-blue);
}

.bg_purple {
    background-color: var(--purple);
}